{% extends 'app/layout.html' %}

{% block title %}
Учитель
{% endblock %}

{% block zxc %}
    <h1 class="zagolovok">Клиенты</h1>
    <a href="{% url 'client_create' %}"><button class="perehod">Создать запись</button></a>
    <div class="tablica">
    <table>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Электронная почта</th>
            <th>Телефон</th>
            <th>Адрес</th>
            <th>Действие</th>
        </tr>
        {% for el in clients %}
            <tr >
                <td>{{el.id}}</td>
                <td>{{el.name}}</td>
                <td>{{el.email}}</td>
                <td>{{el.phone}}</td>
                <td>{{el.address}}</td>
                <td>
                    <a href="{% url 'client_edit' el.id %} " class="btn-izm"><i class="fa-solid fa-pen-to-square"></i></a><br>
                    <a href="{% url 'client_delete' el.id %} " class="btn-izm"><i class="fa-solid fa-trash"></i><br>
                </td>
            </tr>
            {% endfor %}
    </table>
    </div>
{% endblock %}