{% extends 'app/layout.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block zxc %}
    <h1 class="zagolovok">Главная страница</h1>
    <div class="centered-container">
        <div class="button-container1">
            <a href="{% url 'tovar' %}"><button class="perehod"><i class="fa-solid fa-bars"></i>Товары</button></a>
            <a href="{% url 'zakazi' %}"><button class="perehod"><i class="fa-solid fa-file"></i>Заказы</button></a>
            <a href="{% url 'postavki' %}"><button class="perehod"><i class="fa-solid fa-plus"></i>Поставки</button></a>
            <a href="{% url 'category' %}"><button class="perehod"><i class="fa-solid fa-check"></i>Категории товаров</button></a>
        </div>
        <div class="button-container2">
            <a href="{% url 'client' %}"><button class="perehod"><i class="fa-solid fa-child"></i></i>Клиенты</button></a>
            <a href="{% url 'suppliers' %}"><button class="perehod"><i class="fa-solid fa-child"></i>Поставщики</button></a>
            <a href="{% url 'sotrudniki' %}"><button class="perehod"><i class="fa-solid fa-child"></i>Сотрудники</button></a>
        </div>
    </div>
{% endblock %}