{% extends 'app/layout.html' %}

{% block title %}
Поставки
{% endblock %}

{% block zxc %}
    <h1 class="zagolovok">Поставки</h1>
    <a href="{% url 'postavki_create' %}"><button class="perehod">Создать запись</button></a>
    <div class="tablica">
    <table>
        <tr>
            <th>ID</th>
            <th>ID поставщика</th>
            <th>ID товара</th>
            <th>Количество</th>
            <th>Дата поставки</th>
            <th>Действие</th>
        </tr>
         {% for el in postavki %}
            <tr >
                <td>{{el.id}}</td>
                <td>{{el.supplier_id}}</td>
                <td>{{el.product_id}}</td>
                <td>{{el.quantity}}</td>
                <td>{{el.shipment_date}}</td>
                <td><a href="{% url 'postavki_edit' el.id %} " class="btn-izm"><i class="fa-solid fa-pen-to-square"></i></a><br>
                <a href="{% url 'postavki_delete' el.id %} " class="btn-izm"><i class="fa-solid fa-trash"></i></a><br>
            </tr>
            {% endfor %}
    </table>
    </div>
{% endblock %}