{% extends 'app/layout.html' %}

{% block title %}
Добавление категории
{% endblock %}

{% block zxc %}
    <h1 class="zagolovok">Редактирование сотудника</h1>
    <div class="izmenenia">

            <form method="post">
                {% csrf_token %}
                <p style="font-width:bold">Имя</p> <br>
                {{ form.name }}<br>
                <p style="font-width:bold">Контакты</p> <br>
                {{ form.email }}<br>
                <p style="font-width:bold">Адрес</p> <br>
                {{ form.phone }}<br>
                <p style="font-width:bold">Должность</p> <br>
                {{ form.position }}<br>
                <button type="submit" class="btn-iz">Редактировать сотрудника</button>
            </form>
    </div>
{% endblock %}