{% extends 'app/layout.html' %}

{% block title %}
Сотрудники
{% endblock %}

{% block zxc %}
    <h1 class="zagolovok">Сотрудник</h1>
 <a href="{% url 'sotrudnik_create' %}"><button class="perehod">Создать запись</button></a>
    <div class="tablica">
    <table>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Электронная почта</th>
            <th>Телефон</th>
            <th>Должность</th>
            <th>Действие</th>
        </tr>
         {% for el in sotrudniki %}
            <tr >
                <td>{{el.id}}</td>
                <td>{{el.name}}</td>
                <td>{{el.email}}</td>
                <td>{{el.phone}}</td>
                <td>{{el.position}}</td>
                <td><a href="{% url 'sotrudnik_edit' el.id %} " class="btn-izm"><i class="fa-solid fa-pen-to-square"></i></a><br>
                    <a href="{% url 'sotrudnik_delete' el.id %} " class="btn-izm"><i class="fa-solid fa-trash"></i></a></td>
            </tr>
            {% endfor %}
    </table>
    </div>
{% endblock %}