{% extends 'app/layout.html' %}

{% block title %}
Детали заказа
{% endblock %}

{% block zxc %}
    <h1 class="zagolovok">Поставщики</h1>
    <a href="{% url 'suppliers_create' %}"><button class="perehod">Создать запись</button></a>
    <div class="tablica">
    <table>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Контактная информация</th>
            <th>Адрес</th>
            <th>Действие</th>
        </tr>
         {% for el in suppliers %}
            <tr >
                <td>{{el.id}}</td>
                <td>{{el.name}}</td>
                <td>{{el.contact_info}}</td>
                <td>{{el.address}}</td>
                <td><a href="{% url 'suppliers_edit' el.id %} " class="btn-izm"><i class="fa-solid fa-pen-to-square"></i></a><br>
                    <a href="{% url 'suppliers_delete' el.id %} " class="btn-izm"><i class="fa-solid fa-trash"></i></a></td>
            </tr>
            {% endfor %}
    </table>
    </div>
{% endblock %}