{% extends 'app/layout.html' %}

{% block title %}
Товары
{% endblock %}

{% block zxc %}
    <h1 class="zagolovok">Товар</h1>
    <a href="{% url 'tovar_create' %}"><button class="perehod">Создать запись</button></a>
    <div class="tablica">
    <table>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Описание</th>
            <th>Количество</th>
            <th>Категория</th>
            <th>Действия</th>
        </tr>
            {% for el in products %}
            <tr >
                <td>{{el.id}}</td>
                <td>{{el.name}}</td>
                <td>{{el.description}}</td>
                <td>{{el.quantity}}</td>
                <td>{{el.category_id}}</td>
                <td><a href="{% url 'tovar_edit' el.id %} " class="btn-izm"><i class="fa-solid fa-pen-to-square"></i></a><br>
                <a href="{% url 'tovar_delete' el.id %} " class="btn-izm"><i class="fa-solid fa-trash"></i></a><br>
                </td>
            </tr>
            {% endfor %}
    </table>
    </div>
{% endblock %}