* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #2c2c2c;
    display: flex;
}
aside {
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    width: 100px;
    fill: white;
}
.logotip {
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logotip:hover {
    color: #eb5959;
}
.logotip:hover .svg {
    filter: invert(30%) sepia(72%) saturate(7421%) hue-rotate(346deg) brightness(105%) contrast(101%);
}
aside .logo {
    font-size: 40px;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}
aside h3 {
    margin-top: 60px;
}
aside ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    width: 100%;
}
aside ul a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #4d4d4d;
}
aside ul a:hover {
    color: #eb5959;
    background: #333;
}
aside ul li {
    display: flex;
    align-items: center;
}
aside ul li i {
    margin-right: 10px;
}
main {
    padding: 20px;
    color: #fff;
    flex-grow: 1;
}
.svg {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}
.perehod {
    background-color: #FFD700;
    color: #000;
    border: none;
    width: 300px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
    margin: 10px;
    align-items: center;
    height: 50px;
}
.perehod:hover {
    background-color: #FFC107;
    color: #000;
    transform: translateY(-2px);
}
.perehod:active {
    background-color: #FFB300;
    color: #000;
    transform: translateY(0);
}
.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.button-container2 {
    margin-top: 60px;
}
.zagolovok {
    text-align: center;
}
.tablica {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the start to grow downward */
    height: 60vh;
    margin-top:4%;

}
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table th, table td {
    padding: 12px 15px;
    border: 1px solid black;
}

table th {
    background-color: #a18d28;
    color: black;
}

table tr {
    background-color: #fcd703;
    color: black;
}
input[type=text] {
            width:250px;
            margin-top:5px;
            padding:10px;
            border:0;
            box-shadow:0 0 0px 1px rgba(0,0,0,1);
            padding:10px;
            border-radius:10px;
        }
        input[type=number] {
            padding:10px;
            border:0;
            box-shadow:0 0 0px 1px rgba(0,0,0,1);
            padding:10px;
            border-radius:10px;
        }
        p {
            font-weight: bold;
            margin-top: 20px;
        }
.izmenenia{
    margin-top:5%;
    text-align:center;
}
.btn-iz{

    background-color: #17bf44;
    color: #000;
    border: none;
    width: 250px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
    margin-top: 35px;
    align-items: center;
    height: 50px;
}
.btn-izm{
    text-decoration:none;
    color:black;
}
.btn-izm:hover{
    color:#7a7171;
}